@charset "UTF-8";

body{
	 font-family: Arial, Helvetica, sans-serif;
	 margin:0px;
	 padding:0px;
}
.content{
	width:70%;;
	height:auto;
	font-size:20px;
	position:absolute;
	padding-right:5px;
	left:38%;
	box-shadow:0 10px 30px black;
	border-radius:20px;
}
.content h2{
	text-align:center;
}
.content input{
	margin-top:10px;
	margin-bottom:20px;
	margin-left:15px;
	width:230px;
	height:40px;
	border:1px solid grey;
	border-radius:5px;
	background:transparent;
	font-size:17px;
}
.content label{
	padding-right:15px;
	padding-left:15px;
}
.content input:focus{
	outline:none;
}
.content form{
	margin-left:70px;
}
.content .next{
	width:150px;
	height:40px;
	font-size:18px;
	margin-top:30px;
	border-radius:5px;
	border:none;
	cursor:pointer;
	margin-bottom:0px;
	background-color:blue;
	color:white;
}
.next:hover{
	transform:translateY(-3px);
}
.details{
	width:400px;
	height:auto;
	border:1px solid black;
}